.form{
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.button{
  margin-top: 15px;
  background: #0a0a0a;
  transition: background-color 0.1s ease;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  &:hover{
    background: #29292BFF;
  }
}
.fieldset{
  margin-bottom: 20px;
  padding: 10px;
}
.legend{
  margin-bottom: 10px;
  font-weight: bold;
}
.label{
  margin-right: 15px;
}